body {
  font-family: Arial, Helvetica, sans-serif;
}

td, th {
  text-align: center;
}

h1 {
  margin-bottom: 1.5em;
  /*color: #0bd1f4;*/

  border-bottom: 0.2em solid hsl(89, 43%, 51%);
  width: 95%;
  display: block;
}

p {
  font-size: 1.2em;
}

h2 {
  border-bottom: 0.2em solid hsl(89, 43%, 51%);
  width: 80%;
  display: block;
}

/*td, tr {
  border: 20px solid #000000;
}*/

.margin-top {
  margin-top: 0.5em;
}

td.category {
  text-align: left;
}

td.checkmark {
  background-image: url("resources/checkmark.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.8em;
}

td.crossmark {
  background-image: url("resources/crossmark.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1.8em;

  text-align: bottom;
}
