.middle h1 {
    font-size: 500%;
}

.middle h2 {
    text-align: center;
    font-size: 200%;

    margin-top: -6%;
    width: 100%;
}

.middle p {
    font-size: 150%;
}

.middle * {
    color: white;
}

.middle h2, .middle p {
    margin-left: -10%;
}

@media screen and (max-width: 600px) {
    .middle h2 {
        text-align: left;
    }

    .middle h2,
    .middle p {
        margin-left: 1%;
    }
}

@media screen and (min-width: 600px) {
    .middle {
        margin-left: 5%;
    }
}