h1 {
  text-align: center;
}

* {
  padding: .5rem;
  max-width: 1000px;
  margin: auto;
}

.songdetails {
  margin-top: 3%;
}

.details {
  margin-top: 4%;
}

.floatleft {
  float: left;
}

.links {
  margin-left: 0.8vw;
  border-style: solid;
  border-radius: 10px;

  width: 24%;
  padding: 0;
}

.links img {
  width: 2.5vw;
  display: inline-block;

  margin-top: -1.5%;
  margin-bottom: -2%;
  margin-right: 0%;
  margin-left: -1%;
}

#first-detail {
  margin-top: 0;
}

#genre {
  margin-top: 0.5%;
}

.details p {
  font-size: 1.5em;
  margin-top: -1%;
  margin-left: 22%;
}

.details span {
  font-weight: bold;
  color: #3da2c1;
}

.audio {
  margin-top: 3%;
}

.audio audio {
  width: 50%;
}

.audio h2 {
  margin-bottom: 0;
}

.vote {
  margin-left: 13.55vw;
}

.vote button {
  color: white;
  background-color: inherit;
}

.vote button:hover {
  color: #3da2c1;
}

.vote button:hover .vote {
  border-color: #3da2c1;
}

.vote button:hover svg {
  fill: #3da2c1;
}

.vote .voteText {
  margin: 0;
  padding-top: 0;
  margin-right: 8px;
  display: block;

  font-size: 1.25em;
  color: inherit;
}

.vote .voteCount {
  font-weight: bold;
  margin-right: -2px;
  color: inherit;
}

.vote svg {
  fill: white;
  width: 1.5em;
  margin: 0;
  padding: 0;
}

.vote button {
  padding: 0;
  background-color: #222;
  border-style: solid;
  border-radius: 10px;
  padding-top: 5px;
}

@media screen and (max-width: 600px) {
  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
  }

  .video iframe {
    position: absolute;
    width: 98%;
    height: 98%;
  }

  .details img {
    display: block;
    float: none;

    margin-bottom: 6%;
    width: 50%;
  }

  .details p span {
    display: block;
  }

  .details p {
    margin-left: 0;
  }

  .details span {
    margin-left: -2%;
  }

  .links {
    margin-top: 5%;
    margin-left: 4%;

    width: 64vw;
  }

  .links img {
    width: 12vw;
    display: inline-block;
    margin: 0;
  }

  .vote {
    margin-top: 4%;
    margin-left: 0vw;
  }
}