h1 {
  text-align: center;
}

* {
  padding: .5rem;
  max-width: 1000px;
  margin: auto;
}

.songdetails {
  margin-top: 3%;
}

.details {
  margin-top: 4%;
}

.floatleft {
  float: left;
}

.links {
  margin-top: 3%;
  margin-left: 27.5%;
  margin-right: 28%;

  border-style: solid;
  border-radius: 10px;

  width: 25%;
  padding: 0;
}

.links img {
  width: 2.5vw;
  display: inline-block;

  margin-top: -1.5%;
  margin-bottom: -2%;
  margin-right: -0%;
}

#first-detail {
  margin-top: 0;
}

#genre {
  margin-top: 0.5%;
}

.details p {
  font-size: 1.5em;
  margin-top: -1%;
  margin-left: 22%;
}

.details span {
  font-weight: bold;
  color: #265773;
}

.audio {
  margin-top: 3%;
}

.audio audio {
  width: 50%;
}

.audio h2 {
  margin-bottom: 0;
}

@media screen and (max-width: 600px) {
  .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
  }

  .video iframe {
    position: absolute;
    width: 98%;
    height: 98%;
  }

  .details img {
    display: block;
    float: none;

    width: 50%;
  }

  .details p span {
    display: block;
  }

  .details p {
    margin-left: 0;
  }

  .details span {
    margin-left: -2%;
  }

  .links {
    margin-top: 5%;
    margin-left: 2%;

    width: 60vw;
  }

  .links img {
    width: 12vw;
    display: inline-block;
  }
}