.search-result img {
  width: 10%;
  margin-top: 1.8%;
  position: absolute;
}

label {
  margin-top: -1vh;
  color: #3da2c1;
  display: block;
  margin-bottom: 1rem;

  font-weight: bold;
  font-size: 500%;
  text-align: center;
}

#search-component span {
  display: inline-block;
  font-size: 130%;
}

input {
  padding: .5rem;
  width: 100%;
  box-sizing: border-box;
  display: block;
  position: absolute;
}

input:focus {
  outline: #336699 auto 1px;
}

li {
  list-style-type: none;
}

.search-result li a {
  display: inline-block;
  width: 100%;

  padding: 1rem;
  padding-top: 1.5rem;
  box-sizing: border-box;
  text-decoration: none;

  margin-left: 10%;
  margin-top: -0.5%;

  padding-top: 2.2%;
  font-size: 150%;
}

.search-result span {
  display: block !important;
  font-size: 80% !important;
}

.search-result li {
  margin-bottom: 5%;
}

.search-result li:hover {
  background-color: #435A60;
  color: white;
  border-radius: 25px;

  left: -5%;
  padding-left: 25px;
}

ul.search-result {
  margin-top: 15%;
  padding-left: 0;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 600px) {
  label {
    font-size: 320%;
    width: 94vw;
  }

  .search-result img {
    width: 14%;
    margin-top: 2%;
  }
}