<div class="nav" id="topnav">
  <a routerLink="search" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" (click)="openNavBar()">Home</a>
  <a routerLink="new" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" (click)="openNavBar()">New Releases</a>
  <a routerLink="comparison" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" (click)="openNavBar()">Comparison (static site)</a>
  <a routerLink="about" routerLinkActive="active" routerLinkActiveOptions="{exact:true}" (click)="openNavBar()">Project Description</a>
  <button (click)="openNavBar()" style="font-size:15px;" class="icon">&#9776;</button>
</div>