.nav {
  overflow: hidden;
  background-color: #222;
  
  width: 99.655vw;
  margin-left: -2%;

  margin-top: -3%;
  padding-top: 3%;

  padding-bottom: 2%;
  margin-bottom: 0;
  z-index: 1;
}

.nav a {
  float: left;
  display: block;

  margin-left: 2%;
  overflow: hidden;

  text-decoration: none;
  text-align: center;
  font-weight: bold;
  font-size: 150%;
  
  background: linear-gradient(to right, #3da2c1, #3da2c1 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.nav a:hover {
  background-position: 0 100%; 
}

.nav .icon {
  display: none;
}

.active {
  background-position: 0 100% !important;
}

.content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

a {
  color: white;
}

a:hover {
  color: #3da2c1;
}

@media screen and (max-width: 600px) {
  .nav a:not(:first-child) {
    display: none;
  }

  .nav {
    background-color: white;
    border-radius: 10px;
    width: 95vw;
    margin-left: 0;
    margin-top: -2vh;
  }

  .responsive .active {
    background-color: #3da2c1 !important;
    color: white !important;
  }

  .nav a {
    margin-top: 5%;
    background: darkgray !important;
    color: black;

    width: 80%;
    padding-top: 2%;
    padding-bottom: 2%;

    border-radius: 10px;

    background-clip: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color:black;
  }
  
  .nav button.icon {
    margin-top: 5%;
    float: right;

    display: block;
  }

  .nav.responsive {
    position: relative;
  }

  .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 15px;
  }

  .nav.responsive a {
    float: none;
    display: block;
  }
}